.button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 3px;
  min-width: 100px;
}

.button:hover {
  opacity: 0.8;
}

.primary {
  color: #fff;
  background-color: #3bb46e;
}

.warning {
  color: #fff;
  background-color: #cc3300;
}

.small {
  padding: 5px 10px;
  font-size: 12px;
  min-width: 0;
}
