.button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: .2s;
}

.button:hover {
    opacity: .8;
}

.primary {
    color: #fff;
    background-color: #3BB46E;
}

.warning {
    color: #fff;
    background-color: #cc3300;
}